@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding: 0;
}
 body{
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color:azure;
    background-image: url("https://img.freepik.com/free-photo/sun-rays-cloudy-sky_23-2148824928.jpg?w=996&t=st=1719850918~exp=1719851518~hmac=361a2a9cd73f1df9ca4818c07b0bde3502732fd1b5262807c550b17a623f11fc");
    background-size: cover;
    background-repeat:no-repeat ;
 }

 main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
    background-color: rgba(240, 240, 240, 0.5);
    height: 400px;
    width: 500px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 #city{
    height: 50px;
    width: 60%;
    border: none;
    font-size: 20px;
    text-align: center;
    border-radius:10px;
 }

#city:focus{
    box-shadow: 10px 10px 20px rgb(198, 197, 197);
    outline: none;
}

button{
    padding: 10px;
    font-size: 15px;
    margin: 0 20px;
    border-radius: 25px;
    border:1px solid white;
    transition: all 0.1s ease-out;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    font-weight: 600;
}

#btn:hover{
    background-color: green;
    color:white;
    border:2px solid green;
    transform: scale(1.1);
    font-weight: 600;
}

#reset:hover{
    background-color: rgb(233, 27, 27);
    color:white;
    border:2px solid rgb(233, 27, 27);
    transform: scale(1.1);
    font-weight: 600;
}