@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding: 0;
}
 body {
     font-family: "Roboto", sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     width: 100vw;
     background-color: azure;
     background-image: url(assets/Default.jpg);
     background-size: cover; 
     background-repeat: no-repeat;
     background-position: center;
     overflow: auto;
 }

 main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
    background-color: rgba(240, 240, 240, 0.5);
    height: 400px;
    width: 500px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 #city{
    height: 50px;
    width: 60%;
    border: none;
    font-size: 20px;
    text-align: center;
    border-radius:10px;
 }

#city:focus{
    box-shadow: 10px 10px 20px rgb(198, 197, 197);
    outline: none;
}

button{
    padding: 10px;
    font-size: 15px;
    margin: 0 20px;
    border-radius: 25px;
    border:1px solid white;
    transition: all 0.1s ease-out;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    font-weight: 600;
}

#btn:hover{
    background-color: green;
    color:white;
    border:2px solid green;
    transform: scale(1.1);
    font-weight: 600;
}

#reset:hover{
    background-color: rgb(191 9 9);
    color:white;
    border:2px solid rgb(191 9 9);
    transform: scale(1.1);
    font-weight: 600;
}

@media (max-width:1200px){
    main{
        width: 400px;
        height: 400px;
    }
    #city{
        width: 50%;
    }
    button{
        width: 120px;
        height: 40px;
        font-size: 13px;
    }
}

@media (max-width:1000px){
    main{
        width: 400px;
        height: 400px;
    }
    #city{
        width: 50%;
        height: 40px;
        font-size: 15px;
    }
    button{
        width: 100px;
        height: 30px;
        font-size: 10px;
    }

     button:hover{
        font-weight: 400;
    }
}

@media (max-width:800px){
    main{
        width: 350px;
        height: 400px;
        align-items: center;
    justify-content: space-evenly;
    }
    #city{
        width: 70%;
        height: 40px;
        font-size: 10px;
    }
    button{
        width: 90px;
        height: 40px;
        font-size: 9px;
    }
    
    button:hover{
        font-weight: 400;
    }
    
    h1{
        font-size: 25px;
    }
}

@media (max-width:600px){
    main{
        width: 300px;
        height: 400px;
    }
    #city{
        width: 80%;
        height: 40px;
        font-size: 10px;
    }
    button{
        width: 90px;
        height: 35px;
        font-size: 9px;
    }

    button:hover{
        font-weight: 400;
    }
}

@media (max-width:400px){
    main{
        width: 300px;
        height: 400px;
    }
    #city{
        width: 80%;
        height: 40px;
        font-size: 10px;
    }
    button{
        width: 90px;
        height: 35px;
        font-size: 9px;
    }
    
    button:hover{
        font-weight: 500;
    }
}